*{ box-sizing: border-box; }

body,
html{
	height:100%;
}

html{ font-size: 10px; line-height: 1.5; }

body{ font-size: 1.6rem; }

h1{ font-size: 3.6rem }
h2{ font-size: 3.0rem }
h3{ font-size: 2.4rem }
h4{ font-size: 2.2rem }
h5{ font-size: 2.0rem }
h6{ font-size: 1.8rem }

img{ height: auto; max-width: 100%; }