.grid{
	margin-left:-$base-spacing-unit;
	list-style:none;
	margin-bottom:0;

	&.gutterless{ margin-left: 0; }

	& > .grid{
		margin-left:0;
	}
}

.grid__item{
	display:inline-block;
	margin-right: -4px;
	padding-left:$base-spacing-unit;
	vertical-align:top;
	width:100%;
}
.gutterless .grid__item{
	padding: 0;
}

@include grid-setup();

@include media-query(palm){
	@include grid-setup("palm-");
}

@include media-query(lap){
	@include grid-setup("lap-");
}

@include media-query(lap-and-up){
	@include grid-setup("lap-and-up-");
}

@include media-query(portable){
	@include grid-setup("portable-");
}

@include media-query(desk){
	@include grid-setup("desk-");
}

@include media-query(desk-wide){
	@include grid-setup("desk-wide-");
}