.cf{
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

.screen-reader-text{
	position: absolute;
	left:-9999px;
}

.contain {
	margin: 0 auto;
	max-width: 1440px;
}

.pagination{
	margin: $base-spacing-unit 0;
	padding: $base-spacing-unit;
	text-align: center;

	.page-numbers {
		padding: 0 .5rem;

		:first-child & { padding-left: 0; }
		:last-child & { padding-right: 0; }
	}
}

.single .pagination{
	.next-prev { display: block; line-height: 1; }
	.prev-post { text-align: left; }
	.next-post { text-align: right; }
}