/**
 * All Menus
 */
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		margin-bottom: 0;

		&:before{ display: none;}
	}

	a{
		transition: color .3s ease-in-out;
	}
}

.burger{
	cursor: pointer;
	position: absolute;
	right: $base-spacing-unit;
	top: $base-spacing-unit;
	width: 20px;

	hr{
		border: 0;
		border-top: solid 2px $primary-brand-color;
		font-size:0;
		height: 0;
		line-height:0;
		padding-bottom: 3px;
	}
}

/**
 * Utility Menu
 */
.menu--utility > ul{
	li {
		display: inline-block;

		&:after{
			content: '|';
		}

		&:last-child:after {
			content: '';
		}
	}

	a {
		margin-right: $base-spacing-unit/4;
		text-decoration: none;
	}
}

/**
 * Main Menu
 */
.menu--main > ul{
	a {
		text-decoration: none;
	}

	.menu-item,
	.page_item{
		transition: background .3s ease-in-out;

		&.current-menu-item,
		&.current-menu-ancestor,
		&:hover{
		}

	}

}

/* Mobile version */
@include media-query(portable){

	/* hide the menu if JS is enabled (burger icon created by JS to expand it) */
	.js .menu--main {
		display: none;

		ul{
			display: none;
		}
	}

	/* menu styling */
	.menu--main > ul{
		clear: left;

		a{
			display: block;
			padding: 0 $base-spacing-unit
		}

		> .menu-item,
		> .page_item{
			margin-bottom: 3px;

			a{
				padding: $base-spacing-unit/2
			}

			ul li {
				padding-left: $base-spacing-unit;
			}
		}

		.sub-menu,
		.children{
		}

		.sub-menu,
		.children {
			> li {
				position: relative;

				> a{
					overflow:hidden;
					position: relative;
					text-overflow: ellipsis;
					transition: padding .3s ease-in-out;
					white-space: nowrap;
				}

				&.current-menu-item,
				&.current-menu-ancestor{

					> a{
						padding-left: $base-spacing-unit*1.5;
					}
				}
			}
		}
}


}


/* Desktop version */
@include media-query(desk){

	nav.main .contain{
		padding:0;
	}

	.menu--main > ul{
		> .menu-item,
		> .page_item {
			float: left;
			margin-right: $base-spacing-unit/4;
			padding: $base-spacing-unit/2;
			position: relative;

			&:last-child{
				margin-right: 0;
			}
		}

		.menu-item,
		.page_item {
			position: relative;

			> .sub-menu,
			> .children{
				left: 0;
				opacity: 0;
				padding: 10px 0;
				position: absolute;
				text-align: left;
				top: -9999%;
				transition: opacity 1s ease-in-out;
				width: 242px;
				z-index: 250;

				li{
					padding: $base-spacing-unit/4 $base-spacing-unit;
					position: relative;

					&.menu-item-has-children:hover .sub-menu,
					&.page_item_has_children:hover .sub-menu{
						display: block;
						opacity: 1;
					}

					&.current-menu-item,
					&.current_page_item,
					&.current-menu-ancestor,
					&.current_page_ancestor,
					&:hover{

						> a{
							padding-left: $base-spacing-unit;
						}
					}
				}

				a{
					overflow:hidden;
					position: relative;
					text-overflow: ellipsis;
					transition: padding .3s ease-in-out;
					white-space: nowrap;
				}
			}

			&:hover > .sub-menu,
			&:hover > .children{
				opacity: 1;
				top: 100%;
			}

			.menu-item:hover > .sub-menu,
			.page_item:hover > .children{
				left: 100%;
				top: 0;
			}
		}

	}

}

/**
 * Footer nav
 */
.menu--footer > ul{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

	li{ display: inline-block; }
}