form{
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	textarea{
		width: 100%;
	}
}
fieldset{
	border: 0;
	margin: 0 0 $base-spacing-unit*2 0;
	padding: 0;

	legend{
		display: block;
		font-size: $h2-size;
		padding: 0;
		width: 100%;
	}
}