table {
	margin: 0 auto;
	text-align: left;
	width: 100%;

	// all cells
	tr{

		&:last-child{
			th, td {
				border-bottom: solid 1px $border-color;
				border-right: solid 1px $border-color;
			}
		}

		th, td {
			border: solid 1px $border-color;
			border-right: 0;
			border-bottom: 0;
			padding: $base-spacing-unit/2;

			&:last-child{
				border-bottom: solid 1px $border-color;
				border-right: solid 1px $border-color;
			}
		}
	}
}