/**
 * Base stuff
 */
$base-font-size:    1rem;
$base-line-height:  1.5rem;
$base-spacing-unit: 20px;


/**
 * Base font-family.
 */
$base-font-family:  sans-serif;


/**
 * Grid breakpoints start.
 */
$palm-start:        0px;
$lap-start:         568px;
$desk-start:        1024px;
$desk-wide-start:   1400px;
$palm-end:          $lap-start - 1px;
$lap-end:           $desk-start - 1px;

/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px;

$h1-size:           36px; // .alpha
$h2-size:           30px; // .beta
$h3-size:           24px; // .gamma
$h4-size:           20px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        12px;
$micro-size:        10px;

/**
 * Colours
 */
$primary-brand-color:   #000;
$secondary-brand-color: #ccc;

$border-color:          #ececec;